@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-50: 222 240 246;
  --brand-100: 183 221 234;
  --brand-400: 65 176 214;
  --brand-500: 32 143 182;
  --brand-600: 26 116 147;
  --brand-700: 18 82 104;
  --brand-900: 0 32 43;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-surface text-silver-100;
}
